/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet */
@import url('https://unpkg.com/leaflet/dist/leaflet.css');

/* Swiper v9 */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* Variables y estilo global */
:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}